.app {
  width: 100%;
  // overflow-y: auto;
  max-height: 100vh;
  height: 100vh;
  position: relative;
  // background-image: linear-gradient(rgba(12, 3, 51, 0.3), rgba(12, 3, 51, 0.3));
  padding: 0 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  .app__header {
    width: 100%;
    position: absolute;
    z-index: 10;
    top: 20px;
  }

  .video {
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
  }
  .content {
    width: 75%;
    margin-right: 170px;
    h2 {
      text-align: center;
      padding: 0;
      margin: 0;
      color: #fff;
      font-size: 40px;
      font-weight: 800;
    }
    p {
      font-weight: 500;
      color: #d6d2d2;
      margin: 0;
      text-align: center;
    }
    .field {
      display: flex;
      margin-top: 30px;
      align-items: center;
      justify-content: space-between;
      .field_child {
        width: 23%;
      }
    }
  }
}

.sestion {
  margin: 100px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // .sestion__child {
  //   padding: 30px;
  //   width: 75%;
  // }
  .diff {
    margin-top: 60px;
  }
  nav {
    display: flex;
    justify-content: space-between;
    width: 80%;
    .items {
      // z-index: -1;
      width: 23.5%;
      margin-top: 30px;
      height: 200px;
    }
  }

  .itemtrip {
    width: 32%;
    margin-top: 30px;
  }
  .itemss {
    margin-top: 30px;
    width: 28%;
  }
  h2 {
    font-size: 40px;
    font-weight: 800;
    text-align: center;
  }
  p {
    text-align: center;
  }
}
.show {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
.bg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  .im {
    height: 100vh;
  }
}
.footer {
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .app {
    padding: 0;
    width: 100%;
    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 90%;
      margin: 0;
      .field {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        .field_child {
          width: 100%;
        }
      }
    }
  }
  .sestion {
    nav {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;
      .items {
        // z-index: -1;
        width: 85%;
        margin-top: 30px;
        height: 250px;
      }
      .itemtrip {
        width: 85%;
        margin-top: 30px;
      }
      .itemss {
        width: 85%;
        margin-top: 30px;
      }
    }
  }
}
@media (min-width: 600px) and (max-width: 769px) {
  .app {
    // max-h-screen overflow-y-auto
    width: 100%;
    height: 700px;
    position: relative;
    // background-image: linear-gradient(rgba(12, 3, 51, 0.3), rgba(12, 3, 51, 0.3));
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    .app__header {
      width: 100%;
      position: absolute;
      z-index: 10;
      top: 20px;
    }

    .content {
      width: 75%;
      // margin-right: 90px;
      margin-right: 0;
      h2 {
        text-align: center;
        padding: 0;
        margin: 0;
        color: #fff;
        font-size: 40px;
        font-weight: 800;
      }
      p {
        font-weight: 500;
        color: #d6d2d2;
        margin: 0;
        text-align: center;
      }
      .field {
        width: 100%;
        justify-content: space-between;
        .field_child {
          width: 24%;
        }
      }
    }
  }
  .sestion {
    margin: 100px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .sestion__child {
      width: 75%;
    }
    nav {
      display: flex;
      justify-content: space-between;
      width: 90%;
      .items {
        width: 23.5%;
        margin-top: 30px;
      }
    }

    .itemtrip {
      width: 32%;
      margin-top: 30px;
    }
    .itemss {
      margin-top: 30px;
      width: 28%;
    }
    h2 {
      font-size: 40px;
      font-weight: 800;
      text-align: center;
    }
    p {
      text-align: center;
    }
  }
  .bg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    .im {
      height: 700px;
    }
  }
}
